body {
  background-color: skyblue;
  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 4px solid darkgreen;
  border-radius: 8px;
  color: white;
  background-color: limegreen;
  text-align: center;
}

h2 {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 4px solid darkgreen;
  border-radius: 8px;
  color: white;
  background-color: limegreen;
  text-align: center;
}

p {
  text-align: center;
  color: black;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid gray;
  border-radius: 4px;
  background-color: forestgreen;
  color: white;
}

input[type=text]:focus {
  background-color: lightcoral;
}

input[type=number] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid gray;
  border-radius: 4px;
  background-color: forestgreen;
  color: white;
}

input[type=number]:focus {
  background-color: lightcoral;
}

input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid gray;
  border-radius: 4px;
  background-color: forestgreen;
  color: white;
}

textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid gray;
  border-radius: 4px;
  background-color: forestgreen;
  color: white;
}

input[type=submit] {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid gray;
  border-radius: 4px;
  background-color: palevioletred;
  color: white;
}